* {
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
}

body {
  display: grid;
  place-content: center;
}

main {
  margin: 125px 0 125px 0;
  height: 700px;
  width: 1000px;
  display: grid;
  grid-template-columns: 107px 132px 36px 349px 45px 242px 89px;
  grid-template-rows: 102px 500px 98px;
}

#marvinLogo {
  grid-column-start: 2;
  grid-row-start: 2;

  img {
    margin-top: 216px;
    width: 94px;
  }
}

#dots {
  grid-column-start: 3;
  grid-row-start: 2;
  border-left: 2px dotted #cccccc;
}

#marvinImage {
  display: grid;
  grid-template-columns: repeat(1fr, 5);
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
}

#container {
  margin: 189px 0 0 45px;
  grid-column-start: 2;
  grid-column-end: 4;

  h3 {
    font-size: 33px;
    color: #989898;
  }
  #quote {
    margin: 20px 0 0 0;
    font-size: 26px;
  }
  #name {
    margin: 18px 0 0 0;
    font-size: 20px;
    color: #b1b1b1;
  }
  #year {
    margin: 4px 0 0 0;
    font-size: 20px;
    color: #b1b1b1;
  }
  #copyright {
    margin-top: 104px;
    color: #dfdfdf;
  }
}
